.container {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}

.btn {
  padding: 6px 15px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  width: fit-content;
  gap: 10px;
}

.btn a {
  color: var(--clr-text);
  font-weight: 500;
}

.btn-primary {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary,
.btn-primary a {
  color: var(--clr-bg);
}

.btn-primary:hover {
  background-color: var(--clr-primary-dark);
}

.btn-secondary {
  background-color: var(--clr-secondary);
  border-color: var(--clr-primary);
}

.btn-secondary,
.btn-secondary a {
  color: var(--clr-primary);
}

.btn-secondary:hover {
  background-color: var(--clr-bg);
}

@media (max-width: 1080px) {
  .container {
    max-width: 95%;
  }
}
